body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f8f9fa;
}

.nav {
  background: linear-gradient(to right, #302315, #9e6c57);
}

/* Hero section */
.main-section {
  background: url("./assets/1.jpeg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* About */

.about-section {
  background-color: #ffffff;
  padding: 2rem;
}

.about-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.about-section p.lead {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.about-section p {
  font-size: 1rem;
  line-height: 1.6;
}

.img-container img {
  object-fit: cover;
  height: 50vh;
  width: 100%;
}

/* Menu Highlights */

.menu-highlights {
  background-color: #9e6c57;
  padding: 2rem;
}

.menu-highlights-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.menu-highlights-section p.lead {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.highlight-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.highlight-item img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.highlight-item .description {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  text-align: center;
}

.highlight-item .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.highlight-item:hover .hover-img {
  opacity: 1;
}

.highlight-item .hover-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Special events */

.specials-events {
  color: #333;
  padding: 2rem;
}

.specials-events h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.specials-events p.lead {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.specials-events h4 {
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.specials-events p {
  font-size: 1rem;
  line-height: 1.6;
}

.specials-events ul {
  padding-left: 0;
  list-style-type: none;
}

.specials-events li {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* Galley Section */

.gallery-section {
  background-color: #9e6c57;
  padding: 2rem;
}

.gallery-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  height: 30vh;
  background-size: cover;
  transition: transform 0.3s, background-color 0.3s;
  cursor: pointer;
}

.gallery-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.gallery-btn:hover::after {
  background: rgba(0, 0, 0, 0.7);
}

.gallery-btn:hover {
  transform: scale(1.05);
}

.gallery-btn span {
  z-index: 1;
}

.gallery-display {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.gallery-display img {
  height: 30vh;
  width: 45%;
  margin-right: 15px;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 15s linear infinite;
}

/* Map and reservation */

.reservation-map-section {
  background-color: #f8f9fa;
  padding: 2rem;
}

.reservation-map-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.reservation-map-section p.lead {
  font-size: 1.25rem;
  margin-bottom: 40px;
}

.map-container {
  position: relative;
}

/* Footer */

.footer-section {
  background-color: #9e6c57;
  color: #ffffff;
  padding: 2rem;
}

.footer-section .logo img {
  max-width: 100px;
}

.footer-section .footer-content h4 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.footer-section .footer-content p {
  font-size: 1rem;
  line-height: 1.6;
}

.footer-section .footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 15px;
}

.footer-section .footer-links a:hover {
  text-decoration: underline;
}

.footer-section .social-links a {
  margin-right: 10px;
}

.footer-section .social-links i {
  font-size: 1.5rem;
}

/* Utils */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .gallery-buttons .overlay-text {
    height: 150px;
    font-size: 1rem;
  }

  .gallery-display img {
    height: 150px;
  }

  .reservation-form {
    margin-bottom: 2rem;
  }

  .footer-section .footer-links {
    display: flex;
    flex-direction: column;
  }
}
